.container{
    margin-top: 30px;
    margin-bottom: 50px;
}


.ri-vimeo-line{
    color: aqua;
}

.ri-pinterest-line{
    color: aqua;
}

.ri-dribbble-line{
    color: aqua;
}

.ri-apple-fill{
    color: aqua;
}

.ri-finder-fill{
    color: aqua;
}

.ri-google-fill{
    color: aqua;
}